* {
  font-family: Trebuchet MS, Lucida Sans, Arial, sans-serif;
}

.top-bar {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}

.top-bar .input-name-group {
  align-items: flex-start;
  display: flex;
}

.top-bar .input-terms-group {
  align-items: flex-start;
  display: flex;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 67%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
  background-color: rgba(235, 240, 224, 0.447);
  border: 1px solid rgb(45, 103, 45);
  color: rgb( 53, 53, 53 );
  box-shadow: 1px 1px 5px black;
}

.item {
  border: 2px solid blue;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  padding: 0.25rem;
  border-radius: 8px;
  background: transparent;
  border: 2px solid hsl(122, 73%, 55%);
  font-size: 0.95rem;
  color: black;
  cursor: pointer;
  position: relative;
}

.item .item__add:before {
  content: '';
  position: absolute;
  background: hsl(122, 73%, 55%);
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s ease;
}

.item .item__add:hover:before {
  width: 100%;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
  margin-top: 5px;
  background: linear-gradient( rgba(75, 167, 75, 0.447), rgba(75, 167, 75, 0.892));
  border: 1px solid rgb(45, 103, 45);
  color: rgb( 53, 53, 53 );
  box-shadow: 1px 1px 5px black;
  padding: 5px;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
  color: rgb( 53, 53, 53 );
  font-weight: 600;
  background: linear-gradient(rgb(188, 196, 194), rgba(6, 40, 2, 0.721));
  height: 35px;
  border-radius: 8px;
}

.cart__items {
  padding: 2px 20px;
  list-style: none;
}

.empty-cart {
  margin-top: 12px;
  padding: 0.7rem 0.5rem;
  width: 60%;
  align-self: center;
  border-radius: 8px;
  background: linear-gradient(rgb(240, 137, 89), rgba(97, 54, 37, 0.721));
  border: 2px solid linear-gradient(rgb(211, 100, 49), rgba(94, 42, 21, 0.721));
  font-size: 1.15rem;
  color: white;
  cursor: pointer;
  position: relative;
}

.empty-cart:before {
  content: '';
  position: absolute;
  background: hsl(6, 98%, 48%);
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s ease;
}

.empty-cart:hover:before {
  width: 100%;
}

.cart__item {
  margin-top: 3px;
  padding: 5px;
  background: linear-gradient(rgb(188, 196, 194), rgba(6, 40, 2, 0.721));
  border: 2px solid rgb(176, 196, 137);
  cursor: pointer;
  border-radius: 10px;
}

.priceValue {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 70%;
  background: linear-gradient( rgba(64, 64, 80, 0.447), rgba(64, 64, 80, 0.892));
  border: 1px solid rgba(64, 64, 80, 0.9);
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

header {
  align-items: center;
  background: linear-gradient( rgba(75, 167, 75, 0.447), rgba(75, 167, 75, 0.892));
  border: 1px solid rgb(45, 103, 45);
  color: rgb( 53, 53, 53 );
  box-shadow: 1px 1px 5px black;
  display: flex;
  height: 100px;
  justify-content: center;
}

.cart-img {
  margin-left: 20px;
}
